/* use goolge raleway font */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body{
    font-family: 'Raleway', sans-serif;
    height: 100vh; /* full view port height */
    background: #333;
    color: #ccc;
    overflow: hidden;
}

/* display flex in container */
.container{

    display: flex;
    flex-direction: column; /* vertical direction */
    justify-content: center; /* justify content to center */
    height: 100%;
    padding: 0 3rem; /* top & bottom = 0 / left & right = 3rem   */

}