/* use goolge raleway font */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body{
    font-family: 'Raleway', sans-serif;
    height: 100vh; /* full view port height */
    background: #333;
    color: #ccc;
    overflow: hidden;
}

/* display flex in container */
.container{

    display: flex;
    flex-direction: column; /* vertical direction */
    justify-content: center; /* justify content to center */
    height: 100%;
    padding: 0 3rem; /* top & bottom = 0 / left & right = 3rem   */

}

h1, h2{

    font-weight: 200;
    margin: 0.4rem;

}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    color: #aaa;
}


/* adjust text size according to screen size */

/* screen width > 1200px */
@media(min-width: 1200px) {

    h1{
        font-size: 5rem;
    }

}


/* screen width < 800px */
@media(max-width: 800px) {

    /* reduce padding */
    .container{

        padding: 0 1rem;

    }

    h1{
        font-size: 3rem;
    }

}

/* screen width < 500px */
@media(max-width: 500px) {

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem; 
    }

}